html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

.member-dialog {
    padding: 1em;
}

.member-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member-property {
    min-width: 150px;
}

.member-detail {
    display: flex;
    justify-content: flex-start;
}

.member-picture {
    width: 150px;
    height: 200px;
    margin-right: 0.5em;
}

.member-column {
    min-width: 200px;
    margin: 0 0.5em;
    flex-grow: 1;
}

.member-item {
    font-size: 1.1em;
    margin: 0.5em 0em;
}

.member-item-title {
    color: #15428B;
    font-weight: bold;
}