html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.banner {
    background: linear-gradient(to bottom, rgba(144, 186, 228, 1) 0%, rgba(169, 210, 243, 1) 25%, rgba(162, 218, 245, 1) 50%, rgba(144, 191, 240, 1) 75%, rgba(107, 168, 229, 1) 100%);
    height: 60px;
}

.banner .title {
    background-image: url("../resources/93logo.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 10px center;
    color: #0a3f7e;
    display: inline-block;
    font-size: 2.5em;
    line-height: 60px;
    padding-left: 70px;
    vertical-align: middle;
}

.banner .reminder {
    display: inline-block;
    float: right;
    width: 180px;
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
}

.bell {
    /*background-image: url("../resources/reminder1.png");*/
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: 0 center;
    cursor: pointer;
}

.container {
    height: 100%;
}

.member-dialog {
    display: none;
    padding: 1em;
}

.member-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member-property {
    min-width: 240px;
}

.member-detail {
    display: flex;
    justify-content: flex-start;
}

.member-picture {
    width: 150px;
    height: 200px;
    margin-right: 0.5em;
}

.member-column {
    min-width: 200px;
    max-width: 400px;
    margin: 0 0.5em;
    flex-grow: 1;
}

.member-item {
    font-size: 1.1em;
    margin: 0.5em 0em;
}

.member-item-title {
    color: #15428B;
    font-weight: bold;
}